body{
    background: #FAFAFA;
}

.cabecera{
    margin: 0 auto ;
    padding: 20px;
    text-align: center;
    width: 920px;   
}

.cabecera__imagenperfil{
    border-radius: 50%;
    height: 150px;
    margin: 7px 0;
    width:150px;
}

.cabecera__nombre{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin: 5px 0;
}

.cabecera__sello{
    color: #777777;
    font-family:'Times New Roman', Times, serif; 
}

.cabecera__enlaces{
    display: flex;
    justify-content: space-between;
    margin: 9px auto;
    width: 400px;
    
}

.cabecera__enlaces_icon_img{
    height: 40px;
    width: 40px;
}




@media only screen and (max-width: 600px) {
    
    .cabecera{
        width: 90%;
    }

    .cabecera__imagenperfil{
        height: 120px;    
        width: 120px;
    }

    .cabecera__enlaces{
        width: 88%;
    }

    .cabecera__enlaces_icon_img{
        height: 35px;
        width: 35px;
       }


  }